<html>
    <head>
        <script src="app.js"></script>
        <title>movie-recommender</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <form method="POST" action="">
            Title:&nbsp&nbsp&nbsp<input type="text" name="title" required="required"/>
            <br>
            Rating:<input type="number" name="rating" required="required"/>
            <br>
            <input type="submit">
        </form>
        <form method="POST" action = "">
            <input type="submit" value="Get Recommendations!" name="output"/>
        </form>
        <form method="POST" action="">
            Search here: <input type="text" name="search" required="required"/>
            <br>
            <input type="submit" value="Search">
        </form>
        <br>
        <div id="output_search">
        </div>

    </body>
</html>